.user{   
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    height: 72px;  
    /* border-bottom: 0.01mm solid #252c2c;  */
    mask-border:  initial;
  }
 

  .user:hover{ 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #4c4d4d;
  }
  
.bottomBorder{   
  border-bottom: 0.01mm solid #252c2c;
  width: 100%;
  padding-bottom: 1.213rem; 
  padding-top: 1.188rem;
}

  .myImage{ 
    padding: 0px 15px 0px 13px;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    background-size: cover;
    background-repeat: none;
  }
  
  .userName{
    padding: 0px 6px;
    font-size: 1rem;
    color: #E9EDEF;
  }
  
  .userStatus{
    padding: 0px 6px;
    font-size: 0.8rem;
    color: #E9EDEF;
  }

  .pointer:hover{
    cursor: pointer;
  }